@media print {

  /* réglages du livre */
  @page {
    size: 175mm 225mm;
    margin-top: 100px;
    margin-bottom: 65px;

    marks: crop cross;
    bleed: 6mm;
  }


  /* réglages des pages */

  /* page de droite */
  @page :right {
    margin-left: 55mm;
    margin-right: 20mm;

    /* folio */

    @top-left-corner {
      position:relative;
      content: counter(page);
      vertical-align: top;
      padding-top: 25px;
      font-size: 11pt;
      /* décale par rapport à la marge gauche */
      margin-left: -35mm;
    }
    
    @top-left {
      position: relative;
      content: string(title);
      vertical-align: top;
      padding-top: 25px;
      padding-left: 25px;
      font-size: 11pt;
      /* décale par rapport à la marge gauche */
      margin-left: -35mm;
    }
  }

  /* page de gauche */
  @page :left {
    margin-left: 55mm;
    margin-right: 20mm;

    /* folio */
    @top-right-corner {
      content: counter(page);
      vertical-align: top;
      padding-top: 25px;
      float: right;
      font-size: 11pt;
    }

    /* titre haut de page */
    @top-right {
      content: "La simplicité et l'écran";
      vertical-align: top;
      padding-top: 25px;
      padding-right: 25px;   
      font-size: 11pt;
    }
  }


  /* saut de pages */
  /* attention, cette partie peut porter à confusion ! */
  /* section {
    break-after:always;
  } */
  
  .chapter h1{
    break-before: right;
  }

  figure {
    break-inside: avoid;
  }

  /* pages blanches */
  @page :blank {

    
    @top-left-corner {
      content: none;
    }
    
    @top-left {
      content: none;
    }
    
    @top-right-corner {
      content: none;
    }
    
    @top-right {
      content: none;
    }
  }

  /* micro typo (ne fonctionne que dans chrome) expé */
  .chapter p {
    widows: 3;
    orphans: 3;
  }

  p {
    hyphens: manual;
  }
}