  :root {
    font-size: 16px;
    --baseline: 22px;
  }

  @media screen {
    body {
      max-width: 70vw;
      padding-left: 10vw;
    }
  }

  * {
    line-height: 22px;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    font-family: "IBM Plex Sans Light";

  }

  /*------------------------------------TITRES DE CHAPITRES---------------------------*/

  .chapter h1 {

    font-family: "IBM Plex Sans SemiBold";
    font-size: 28pt;
    line-height: 95%;
    margin-bottom: 12px;
    margin-top: calc(var(--baseline)*6);
    margin-bottom: calc(var(--baseline)*2);

    margin-left: -70px;
  }

  /* Définit une variable pour récupérer les noms de chapitres */
  h1 {
    string-set: title content(text);
  }

  /* Cette partie est à décommenter pour supprimer les titres miniatures
  Ne fonctionne pas dans l'etat actuel à cause des break-before .chapter h1 // voir layout.css */
  /* section > h1{
    page: no-top-title;
  }
  @page no-top-title {
    @top-left {
      content: none;
    }
  } */

  /*------------------------------------CORPS DE TEXTE---------------------------*/

  p {
    text-align: left;
    margin-bottom: 3mm;

    font-size: 13pt;
    font-family: "IBM Plex Sans";

    text-indent: 20px;
  }

  /*------------------------------------CITATIONS---------------------------*/

  .cite {
    font-family: "IBM Plex Mono Light";
    letter-spacing: -0.05em;
    font-style: italic;
    /* ces marges visent à centrer la citation sur la page. relatif aux marges générales */
    margin-left: -10mm;
    margin-right: 15mm;

    /* Ceci est un test de mise en page de citation */
    /* break-before: always; */
    /* padding-top: 80px; */
  }

  .break-cite {
    break-before: always;
  }

  .after-cite {
    break-before: always;
  }

  /*------------------------------------IMAGES---------------------------*/
  .img-in-text {
    /* différence de marge gauche pour centrer l'image. A comparer aux marges declarées dans layout.css */
    margin-left: -10mm;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .img-full-page {
    page: no-margin-layout;
    object-fit: cover;
    text-align: center;
    height: var(--pagedjs-pagebox-height);
    max-width: 100%;
  }
  
  @page no-margin-layout {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    @top-right {
      content: none;
    }
    
    @top-right-corner {
      content: none;
    }
    
    @top-left-corner {
      content: none;
    }
    
    @top-left {
      content: none;
    }
  }
  
  .img-double-page-left {
    object-fit: cover;
    text-align: right;
    height: var(--pagedjs-pagebox-height);
    max-width: 100%;
    break-before:left;
  }
  
  .img-double-page-right {
    object-fit: cover;
    text-align: left;
    height: var(--pagedjs-pagebox-height);
    max-width: 100%;  
  }
  
  #img_01 {
    width: 80%;
    height: 80%;
  }

  .description {
    /* style de la description */
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "IBM Plex Sans Light";
  }




  /*------------------------------------MARGIN NOTES STYLE---------------------------*/

  .margin-note {
    font-family: "IBM Plex Sans Light";
    font-size: 12pt;
    line-height: 14px;
    text-align: left;
    color: #2aa700;
    padding-top: 3px;
    margin-bottom: 14px;
    padding-left: 18mm;
    padding-right: 3mm;
  }

  .note-call_margin-note {
    font-family: "IBM Plex Sans Light";
    color: #2aa700;
    font-size: 12pt;
  }

  .note-marker_margin-note {
    font-family: "IBM Plex Sans Light";
  }

  /*------------------------------------TABLE OF CONTENT---------------------------*/
  #table-of-content {
    page: no-margin-layout;
  }
  
  ul {
    list-style-type: none;
    padding-left: 30mm;
    padding-right: 20mm;
    padding-top: 40mm;
  }
  
  li>a {
    font-family: "IBM Plex Mono SemiBold";
    color: black;
    text-decoration: none;
    font-size: 14pt;
    line-height: 170%;
  }
  
  li ::after {
    content:target-counter(attr(href), page);
    float: right;
  }