:root {
  font-size: 16px;
  --baseline: 22px;
}

@media screen {
  body {
    max-width: 70vw;
    padding-left: 10vw;
  }
}

* {
  line-height: 22px;
  /* line-height:15.6pt; */
  margin: 0;
  padding: 0;
  word-break: keep-all;
  font-family: "IBM Plex Sans Light";

}

.break-p {
  break-before: always;
}

/*------------------------------------TITRES DU LIVRE---------------------------*/

#titre {
  font-family: "IBM Plex Sans SemiBold";
  text-align: right;
}

#sous-titre {
  font-family: "IBM Plex Sans Medium";
  text-align: right;

}

#splash {
  page: splash-layout;
}

@page splash-layout {
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 190px;
  margin-bottom: 0px;

  @top-right {
    content: none;
  }

  @top-right-corner {
    content: none;
  }

  @top-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }
}

/*------------------------------------TITRES DE CHAPITRES---------------------------*/
.chapter h1 {

  font-family: "IBM Plex Sans SemiBold";
  font-size: 28pt;
  line-height: 95%;
  margin-bottom: 12px;
  margin-top: calc(var(--baseline)*6);
  margin-bottom: calc(var(--baseline)*2);

  margin-left: -70px;
}

h2 {
  font-size: 16pt;
}

/* Définit une variable pour récupérer les noms de chapitres */
h1 {
  string-set: title content(text);
}

#note-sur-la {
  font-size: 22pt;
}

.une-note {
  break-before: right;
}

/*------------------------------------CORPS DE TEXTE---------------------------*/

p {
  text-align: left;
  margin-bottom: 3mm;

  font-size: 13pt;
  font-family: "IBM Plex Sans";
}
.tab { 
  display: inline-block; 
  margin-left: 40px; 
} 

/*------------------------------------CITATIONS---------------------------*/

.cite {
  font-family: "IBM Plex Mono Light";
  font-style: italic;
  /* ces marges visent à centrer la citation sur la page. relatif aux marges générales */
  margin-left: -10mm;
  margin-right: 15mm;
  font-size: 11pt;
  /* Ceci est un test de mise en page de citation */
  /* break-before: always; */
  /* padding-top: 80px; */
}



/*------------------------------------IMAGES---------------------------*/
@page no-margin-layout {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  @top-right {
    content: none;
  }

  @top-right-corner {
    content: none;
  }

  @top-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }
}

.img-in-text {
  /* différence de marge gauche pour centrer l'image. A comparer aux marges declarées dans layout.css */
  margin-left: -35mm;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  max-width: 140mm;
  height: auto;
}

#img_01 {
  width: 70%;
  height: 70%;
}

#img_03 {
  break-before: always;
  margin-top: 5mm;
  width: 100%;
}

#img_05 {
  width: 65%;
  margin-top: -10mm;

}

#img_06 {
  width: 65%;
  margin-top: -10mm;

}

#img_07 {
  width: 80%;
  margin-top: -10mm;
}

#img_08 {
  width: 80%;
  margin-top: -10mm;
}

#img_des {
  width: 80%;
  margin-top: -10mm;
}

#img_09 {
  width: 92%;
  margin-top: -10mm;}

#img_10 {
  width: 170%;
  text-align: left;
  margin-left: -88mm;
  position: absolute;
}

#iphone_desc{
  position: absolute;
margin-top: 100mm;
}



#img_12 {
  width: 80%;
}

#img_14{
  margin-top: -7mm;
  width:60%;
}

#img_15{
  margin-top: -20mm;
  width: 100%;
}

.img-full-page {
  position:absolute;
  display: block;
  margin:auto;
  max-width: 103%;
  max-height: 103%;
}

#description-double {
  position: absolute;
  top: 200mm;
  left: 30mm;
  color: white;
  z-index: 1000;
}
.over-full{
  page: no-margin-layout;
  break-before: always;
  width: 177mm;
  height:227mm;
  display:flex;
  justify-content:center;
  align-items:center; 
}

/* a garder au cas où l'impression de la double page décale, mais ça devrait le faire */
/* .img-double-page-left {
  object-fit: cover;
  text-align: right;
  height: var(--pagedjs-pagebox-height);
  max-width: 100%;
  break-before: left;
}

.img-double-page-right {
  object-fit: cover;
  text-align: left;
  height: var(--pagedjs-pagebox-height);
  max-width: 100%;
} */

.description {
  /* style de la description */
  text-align: left;
  display: block;
  margin-left: -10mm;
  margin-right: auto; 

  /* le texte en italique ne semble pas prendre en compte font-weight */
  font-family: "IBM Plex Sans";
  font-weight: 200;
  font-size:9pt;
}

#description_material {
  text-align: right;
}


/*------------------------------------MARGIN NOTES STYLE---------------------------*/

.margin-note {
  font-family: "IBM Plex Sans Light";
  font-size: 9pt;
  text-align: left;
  color: #63b87dff;
  padding-top: 3px;
  margin-bottom: 14px;
  padding-left: 14mm;
  padding-right: 3mm;
  /* line-height: 22px; */
  /* line-height: 15.6pt; */
  
}

.note-call_margin-note {
  font-family: "IBM Plex Sans Light";
  color: #63b87dff;
  /* positionne chiffre en petit + en haut de la ligne */
  font-size: 9pt;
  vertical-align: 11%;
}

.note-marker_margin-note {
  font-family: "IBM Plex Sans Light";
  font-size: 9pt;
}

/*------------------------------------TABLE OF CONTENT---------------------------*/
#table-of-content {
  page: no-margin-layout;
  break-before: right;
  /* break-after:always; */
}

#table-list {
  list-style-type: none;
  padding-left: 30mm;
  padding-right: 20mm;
  padding-top: 40mm;
}

#table-list>li>a {
  font-family: "IBM Plex Mono";
  color: black;
  text-decoration: none;
  font-size: 12pt;
  line-height: 170%;
}

#table-list>li ::after {
  content: target-counter(attr(href), page);
  float: right;
}

/*------------------------------------TABLE OF CONTENT---------------------------*/

#dnsep {
  page:acheve-layout;
  break-before: left;
}

#empty{
  page:blank;
  break-before:left;
}

/*------------------------------------BIBLIOGRAPHIE---------------------------*/

.biblio {
  page: biblio-layout;
  break-before: left;
}


/* Efface titre livre + section pour la biblio */
@page biblio-layout {
  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }
}

h3 {
  font-size: 16pt;
  margin-top: 10mm;
  margin-bottom: 10mm;
}

.biblio-list>li {
  font-family: "IBM Plex Mono";
  color: black;
  text-decoration: none;
  font-size: 11pt;
  line-height: 170%;
}

.edition {
  font-weight: 200;
  font-family: "IBM Plex Mono";
}

.biblio-list {
  list-style-image: url("../../img/arrow.svg");
}

a {
  font-family: "IBM Plex Mono ExtraLight";
  color: black;
  text-decoration: none;
  font-size: 11pt;
  line-height: 170%;

  /* permet d'éviter d'overflow en dehors de la page pour les liens.
    a remplacer éventuellemet par des <br> manuels pour soigner les retours */
  word-wrap: break-word;
}

/*------------------------------------MERCI---------------------------*/

.merci {
  page: merci-layout;
  break-before: right;
}

@page merci-layout {

  margin-right: 20mm;
  margin-left: 90mm;
  margin-top: 100mm;
  margin-bottom: 65px;

  @top-right {
    content: none;
  }

  @top-left {
    content: none;
  }

  @top-right-corner {
    content: none;
  }

}

#remerciement {
  font-family: "IBM Plex Mono";

}

/*------------------------------------ACHEVE---------------------------*/

.acheve {
  page: acheve-layout;
  break-before: left;
}

@page acheve-layout {



  margin-right: 20mm;
  margin-left: 20mm;
  margin-top: 160mm;
  margin-bottom: 65px;

  @top-right {
    content: none;
  }

  @top-left-corner {
    content: none;
  }

  @top-left {
    content: none;
  }
}

.mentions {
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 10pt;
}

/*------------------------------------REMOVE FOLIO ON BLANK PAGES---------------------------*/

.blank-rep {
  break-before: left;
  page: blank;
}

/*-----------------------------------PAGE VERTE---------------------------*/

.greenPage{
  page: no-margin-layout;
  break-before: left;
}

.fullGreen {
  position:absolute;
  display: block;
  margin-left: -3mm;
  margin-top:-3mm;
  width:  180mm;
  height: 230mm;
}